:root{
    --app-left-width: 500px;
    --app-right-width: calc(100% - var(--app-left-width));
    --color-good: #23991f;
    --color-danger: #e25757;
    --invoice-table-th-color: rgb(60, 126, 159);
    --invoice-table-th-text-color: #ffffff
}

html,
body{
    height: 100%;
    width: 100%
}

body{
    margin: 0;
    background: #fff;
    font-size: 13px;
    color: #182c38;
    font-weight :normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-style: normal
}

#root{
    position: relative;
    width: 100%;
    height: 100vh;
    margin:0 auto;
}

.centered{
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center
}
.centered:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle
}
.centered .centered__content{
    vertical-align: middle;
    max-width: 98%;
    display: inline-block;
    text-align: left!important
}

[data-vertical_center]{
    display: flex;
    flex-direction: column;
    justify-content: center
}

a{
    color:rgba(3, 41, 64, 0.86);
    cursor: pointer
}
a:hover,
a:focus,
a:visited{
    text-decoration: none;
    outline: none
}
a:hover{
    color: rgba(0, 0, 0, 0.86);
    text-decoration: none
}

.app{
    width: 100%;
    height: 100%
}
.app__contain--left,
.app__contain--right{
    position: relative;
    display:inline-block;
    vertical-align:top;
    overflow: auto;
    height: 100%
}
.app__contain--left{
    background-color: #ffffff;
    padding: 30px;
    width: var(--app-left-width)
}
.app__contain--right{
    width: var(--app-right-width)
}

.upload__container{
    position: relative;
    overflow: hidden;
    border: 3px dashed rgba(0, 0, 0, .24);
    border-radius: 7px;
    padding: 0 30px;
    height: 100%
}
.upload__container--droppable{
    border-color: var(--color-good)
}
.upload__container--undroppable{
    border-color: var(--color-danger)
}
.upload__fileinput{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 50px;
    opacity: 0
}
.upload__illustrator{
    font-size: 4em;
    color: #999999
}

.progress__custom{
    background-color: rgba(0, 0, 0, .24);
    border-radius: 4px;
    height: 4px;
    display: none
}
.progress__custom--active{
    display: block
}
.progress__inner{
    transition: all .25s ease-in-out;
    display: inline-block;
    vertical-align: top;
    background-color: var(--color-good);
    height: 4px;
    border-radius: 4px;
}
.progress__inner--failed{
    background-color: var(--color-danger)
}

.result__container{
    padding: 30px
}
.result__items{
    margin-top: 1.5rem
}
.result__item{
    height: 55px;
    padding: 0 20px;
    background: #f4f5f6;
    border-radius: 4px;
    margin-bottom: 1rem
}
.result__item:last-child{
    margin-bottom: 0
}
.result__item .row{
    height: 100%
}
.result__options a{
    margin-right: 10px
}
.result__options a:last-child{
    margin-right: 0
}

.default__dialog{
    padding: 0 !important;
    width: 100% !important;
    border-radius: 4px !important;
    background-color: transparent !important
}
.invoice__dialog{
    max-width: 800px !important
}
.invoice__dialog-inner{
    background-color: #ffffff !important;
}
.invoice__dialog-control{
    padding-bottom: 10px
}
.invoice__dialog-control a{
    color: #ffffff !important
}
.invoice__table{
    width: 100%;
    table-layout: fixed
}
.invoice__table th,
.invoice__table td{
    text-align: left;
    padding: 15px;
    border-right: 1px solid #e2e1e1
}
.invoice__table th:last-child,
.invoice__table td:last-child{
    border-right: 0
}
.invoice__table th{
    color: var(--invoice-table-th-text-color);
    background-color: var(--invoice-table-th-color)
}
.invoice__table td{
    border-bottom: 1px dotted #e2e1e1
}
.invoice__table tbody tr:last-child td{
    border-bottom: 0
}
.invoice__table tfoot td{
    border-top: 2px solid #444444;
    border-bottom: 2px solid #444444;
    font-weight: bold}
.invoice__to{
    padding: 20px 15px
}