@font-face {
    font-family: ion;
    src: url('../fonts/ionicons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: nter;
    src: url('../fonts/Inter-Light-BETA.otf') format('opentype');
    font-weight: 300;
    font-style: normal; 
}
@font-face {
    font-family: nter;
    src: url('../fonts/Inter-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal; 
}
@font-face {
    font-family: nter;
    src: url('../fonts/Inter-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal; 
}
@font-face {
    font-family: nter;
    src: url('../fonts/Inter-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal; 
}